body {
    text-align: center;
    width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.hidden {
  display: none;
}

.header-img{
  width: 100px;
}

#left-arrow{
  transform: rotateY(180deg);
}

.header{
  margin-top: 100px;
}

.game-header{
  width: 20%;
}

.game-header img{
  width: 60px;
}

.canvas-on-game{
  width: 70%;
}

.header h1{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
