body {
    text-align: center;
    width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.hidden {
  display: none;
}

.header-img{
  width: 100px;
}

#left-arrow{
  transform: rotateY(180deg);
}

.header{
  margin-top: 100px;
}

.game-header{
  width: 15%;
}

.game-header img{
  width: 60px;
}

.canvas-on-game{
  width: 60%;
}

.board{
  width: 20%;
}

.leader-bodyOnWin,
.board,
.board-header {
  padding: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  font-size: 20px;
  text-transform: capitalize;
  text-align: left;
}

.board-header,
button {
  background-color: #55a86d;
  color: #fff;
}

button {
  width: 150px;
  border: 3px solid green;
  border-radius: 4px;
  padding: 10px;
  font-size: 22px;
}

.win-board{
  border: 3px solid green;
  margin-top: 40px;
  border-radius: 4px;
}


.board p:nth-child(even){
  font-weight: bold;
}

.win-board{
  width: 70%;
  display: grid;
  grid-template-rows: auto;
}



.header h1{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
